/*********************************  Responsive Media ***************************************/
@media screen and (min-width: 0px) and (max-width: 480px) {
    .header-main .logo {
        padding-left: 20px;
    }

    img {
        width: 100%;
    }

    .header .menu>.menu-item.conatct {
        margin-top: 10px;
    }

    .sce2 .item h3 {
        font-size: 15px;
    }

    .sce2 .homeCont h1 {
        padding: 20px 0;
        font-size: 25px;
    }

    .sce2 .homeCont p {
        font-size: 15px;
    }

    .imgFlex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section.sce2 .imgFlex img {
        width: 100px;
    }

    section.sce2 .imgFlex {
        padding: 10px 10px 50px;
    }

    .text {
        padding-left: 0;
        padding-bottom: 40px;
    }

    section.sec3 {
        padding: 0px 0 50px;
    }

    section.sec3 h4 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .cards {
        padding-bottom: 20px;
    }

    section.sec5 {
        padding: 50px 0;
    }

    section.sec5 .row.row-reverse {
        flex-direction: column-reverse;
    }

    section.expert {
        padding: 50px 0 0;
    }

    section.sec6 .space {
        padding: 0;
    }

    section.sec7 h2 {
        padding-right: 0;
    }

    .queryForm {
        margin-left: 0px;
    }

    section.footer {
        padding: 0px 0 50px;
    }

    section.footer p {
        width: 100%;
    }
}



/* media query tab screen*/
@media screen and (min-width: 481px) and (max-width: 1050px) {
    img.resp {
        width: 100%;
    }

    .sce2 .item h3 {
        font-size: 17px;
    }

    .imgFlex img {
        width: 300px;
    }
}